.bal{
    display:flex !important;
}
.jobb{
    display:flex !important; 
    justify-content: flex-end !important;
}
.infscroll{
    overflow:scroll;
    height:90%;
}
.infscroll::-webkit-scrollbar {
    display: none;
}
.full{
    width:100%;
    height:100%;
    word-break: break-all;
}
.height{height:100%;
    display: flex;
    flex-direction: column;}
.submit{
    float:right;
}
.noresize {
    resize: none;
  }