.maxwidth {
    width:300px;
    flex: 40%;
    margin-bottom: 10px;
    margin-right:20px;
}

.example-header-image {
    background-size: cover;
}
.mat-table{
    display:flex;
    flex-wrap: wrap;
}