<mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile>
        <div *ngIf="user" class="container">
            <div>
              <div>
                  <ngx-avatar class="profilepic" *ngIf="!user.profilePicture" size="150" src="assets/avatar.png"></ngx-avatar>
                  <ngx-avatar class="profilepic" *ngIf="user.profilePicture" size="150" [src]=user.profilePicture.picByte></ngx-avatar>
              </div>
              <div class="name">
                  <h2>{{user.firstName}} {{user.lastName}} ({{age(user.dob)}})</h2>
                  <button *ngIf="user.relationship==0" mat-button>Delete friend request</button>
                  <button *ngIf="user.relationship==1" mat-button (click)="accept(user.id)">Accept friend request</button>
                  <button *ngIf="user.relationship==1" mat-button (click)="decline(user.id)">Decline friend request</button>
                  <button *ngIf="user.relationship==2" mat-button>You're friends with {{user.firstName}}</button>
                  <button *ngIf="user.relationship==3" mat-button (click)="add(user.id)">Add friend</button>
                  <div class="location">
                    <span class="material-icons">
                        location_city
                    </span>
                    <h2>{{user.location}} </h2>
                </div>
              </div>
            </div>
        
            <div>
              <ng-container *ngIf="user.description; else noDescription">
                  {{user.description}}
              </ng-container>
            </div>
            
        </div>
        
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3>
        <app-posts [id]="id"></app-posts>
    </mat-grid-tile>
  </mat-grid-list>

