
  <form [formGroup]="form" class="search-bar">
    <input type="search" formControlName="search" pattern=".*\S.*" required>
    <button class="search-btn" type="submit" (click)="search()">
        <span>Search</span>
    </button>
</form>
<div>
    <table class="mat-table" >
        <mat-card *ngFor="let user of users" class="maxwidth">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <ngx-avatar class="profilepic" *ngIf="!user.profilePicture" size="50" src="assets/avatar.png"></ngx-avatar>
                  <ngx-avatar class="profilepic" *ngIf="user.profilePicture" size="50" [src]=user.profilePicture.picByte></ngx-avatar>
                </div>
              <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
              <mat-card-subtitle>{{user.location}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngIf="user.description; else noDescription">
                    {{user.description}}
                </ng-container>
            
                <ng-template #noDescription>
                    No description
                </ng-template>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="user.relationship==0" mat-raised-button color="warn" (click)="delete(user.id)">Delete friend request</button>
              <button *ngIf="user.relationship==1" mat-raised-button color="primary" (click)="accept(user.id)">Accept friend request</button>
              <button *ngIf="user.relationship==1" mat-raised-button color="warn" (click)="decline(user.id)">Decline friend request</button>
              <button *ngIf="user.relationship==2" mat-button >You're friends with {{user.firstName}}</button>
              <button *ngIf="user.relationship==3" mat-raised-button color="primary" (click)="add(user.id)">Add friend</button>
              <button mat-button color="primary" (click)="viewProfile(user.id)">View profile</button>
            </mat-card-actions>
          </mat-card>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="pageSize" [length]="totalElements"
        (page)="nextPage($event)">
 
    </mat-paginator>
</div>