<div class="container" *ngIf="curruser">
  <div>
    <div>
        <ngx-avatar class="profilepic" *ngIf="!curruser.profilePicture" size="150" src="assets/avatar.png"></ngx-avatar>
    </div>
    <div>
        <h2>{{curruser.firstName}} {{curruser.lastName}}</h2>
    </div>
  </div>

  <div>
    <ng-container *ngIf="curruser.description; else noDescription">
        {{curruser.description}}
    </ng-container>

    <ng-template #noDescription>
        Please fill out your about me infos.
    </ng-template>
  </div>

    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
