<mat-grid-list cols="4" rowHeight="100%">
    <mat-grid-tile>
        <div class="container" *ngIf="curruser">
            <div>
                <div class="image-upload">
                    <label for="file-input">
                        <ngx-avatar class="profilepic" *ngIf="!curruser.profilePicture" size="150" src="assets/avatar.png"></ngx-avatar>
                        <ngx-avatar class="profilepic" *ngIf="curruser.profilePicture" size="150" [src]="teszt"></ngx-avatar>
                        
                    </label>
                    <input id="file-input" type="file" (change)="onFileChanged($event)" />
                    <button (click)="asd()"></button>
                </div>
                <input type="button" (click)="onUpload()" value="upload">
                <div>
                    <h2>{{curruser.firstName}} {{curruser.lastName}}</h2>
                </div>
            </div>

            <div>
            <ng-container *ngIf="curruser.description; else noDescription">
                {{curruser.description}}
            </ng-container>

            <ng-template #noDescription>
                Please fill out your about me infos.
            </ng-template>
            </div>
            <button mat-button>Edit profile 
                <span class="material-icons">
                mode_edit
                </span>
            </button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3>
        <app-posts [id]="curruser.id"></app-posts>
    </mat-grid-tile>
</mat-grid-list>